@font-face {
  font-family: 'Robotobold';
  //src: url('fonts/Roboto.eot');
  src: url('Roboto/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  //src: url('fonts/Roboto.eot');
  src: url('Roboto/Roboto-Light.ttf') format('truetype');
  font-display: swap;
}
