//Importing fonts
@import 'desginfonts.scss';
// Importing variables
@import './variables.scss';
// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

$breakpoint-tablet: 768px;

html {
  scroll-behavior: smooth;
  background-color: #0b0c0d;
}

body {
  font-family: 'Robotobold', sans-serif;
  overflow: hidden;
}

h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 1024px) {
  .is-size-large-desktop {
    font-size: 4rem !important;
    letter-spacing: 0.5rem;
  }
}
.small-section {
  padding: 1.5rem 1.5rem;

  @media (min-width: 1024px) {
    padding: 3rem 1.5rem;
  }
}
.hero-height {
  min-height: 95vh;
}
.custom-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1.5rem 1.5rem;
}
.black-boarder {
  border-color: #080808;
}
.footerspace {
  padding-left: 1%;
  @media (min-width: 1040px) {
    padding-left: 4% !important;
  }
}
.smallfont {
  font-size: 0.5rem;
}
.wider {
  padding: 1rem 1rem;
  @media (min-width: $breakpoint-tablet) {
    padding: 2rem 2rem;
  }
}
.logo {
  padding: 2rem 1.7rem;
}
.heroCta {
  margin-top: 40vh;
  margin-right: 50vw;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 10vh !important;
  }
}
.blackcta {
  background-color: #0b0c0d;
  border-color: transparent;
  color: #ffffff;
}
.whitecta {
  background-color: #ffffff;
  border-color: transparent;
  color: #0b0c0d;
}
.heroBg {
  display: flex;
  background-image: url(../images/mob-hero.jpg);
  background-size: cover;
  margin: 1rem;
  border-radius: 1rem;
  @media (min-width: $breakpoint-tablet) {
    background-image: url(../images/dsk-hero-2.jpg);
    margin: 2rem;
    border-radius: 1rem;
  }
}
.quoteBg {
  display: flex;
  background-image: url(../images/mobquotebg.jpg);
  background-size: cover;
  margin: 1rem;
  border-radius: 1rem;
  height: 233px !important;
  @media (min-width: $breakpoint-tablet) {
    background-image: url(../images/dskquotebg.jpg);
    height: 600px !important;
  }
}
.footerBg {
  display: flex;
  background-image: url(../images/mobfooter.jpg);
  background-size: cover;
  margin: 1rem;
  border-radius: 1rem;
  @media (min-width: $breakpoint-tablet) {
    background-image: url(../images/dskfooter.jpg);
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    border-bottom: 1px solid;
    color: black;
  }
  a:hover {
    color: $secondary-color;
  }
}
