//Importing fonts
@import 'desginfonts.scss';
// Importing variables
@import './variables.scss';
// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

$breakpoint-tablet: 768px;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Robotobold', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 1024px) {
  .is-size-large-desktop {
    font-size: 6rem !important;
  }
}
.logo {
  padding: 2rem 1rem;
}
.heroCta {
  margin-top: 20vh;
  margin-right: 50vw;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 10vh !important;
  }
}
.blackcta {
  background-color: #0b0c0d;
  border-color: transparent;
  color: #ffffff;
}
.whitecta {
  background-color: #ffffff;
  border-color: transparent;
  color: #0b0c0d;
}
.heroBg {
  display: flex;
  background-image: url(../images/mob-hero.jpg);
  background-size: cover;
  @media (min-width: $breakpoint-tablet) {
    background-image: url(../images/dsk-hero-2.jpg);
  }
}
.quoteBg {
  display: flex;
  background-image: url(../images/mob-quote-bg.jpg);
  background-size: cover;
  height: 233px !important;
  @media (min-width: $breakpoint-tablet) {
    background-image: url(../images/dsk-quote-bg.jpg);
    height: 550px !important;
  }
}
.footerBg {
  display: flex;
  background-image: url(../images/mob-footer.jpg);
  background-size: cover;
  @media (min-width: $breakpoint-tablet) {
    background-image: url(../images/dsk-footer.jpg);
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    border-bottom: 1px solid;
    color: black;
  }
  a:hover {
    color: $secondary-color;
  }
}
